.elementor-element .icon {
  position: relative;
}
.elementor-element .icon .carvia-core-icon::after {
  content: "CARVIA";
  font-size: 10px;
  opacity: 0.4;
  position: absolute;
  right: 5px;
  top: 5px;
}
