@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.dual-button {
    &--layout-vertical .dual-btn-wrapper {
        display: inline-block;
    }

    &--layout-horizontal .dual-btn-wrapper {
        display: flex;
    }

    &--align-left.dual-button--layout-horizontal .dual-btn-wrapper {
        justify-content: flex-start;
    }

    &--align-center.dual-button--layout-horizontal .dual-btn-wrapper {
        justify-content: center;
    }

    &--align-right.dual-button--layout-horizontal .dual-btn-wrapper {
        justify-content: flex-end;
    }

    &--align-left.dual-button--layout-vertical {
        text-align: left;
    }

    &--align-center.dual-button--layout-vertical {
        text-align: center;
    }

    &--align-right.dual-button--layout-vertical {
        text-align: right;
    }

    @media (max-width: 1024px) {
        &--tablet-layout-vertical .dual-btn-wrapper {
            display: inline-block;
        }

        &--tablet-layout-horizontal .dual-btn-wrapper {
            display: flex;
        }

        &--tablet-align-left.dual-button--tablet-layout-horizontal .dual-btn-wrapper {
            justify-content: flex-start;
        }

        &--tablet-align-center.dual-button--tablet-layout-horizontal .dual-btn-wrapper {
            justify-content: center;
        }

        &--tablet-align-right.dual-button--tablet-layout-horizontal .dual-btn-wrapper {
            justify-content: flex-end;
        }

        &--tablet-align-left.dual-button--tablet-layout-vertical {
            text-align: left;
        }

        &--tablet-align-center.dual-button--tablet-layout-vertical {
            text-align: center;
        }

        &--tablet-align-right.dual-button--tablet-layout-vertical {
            text-align: right;
        }

        &--layout-horizontal.dual-button--tablet-layout-vertical .dual-btn-wrapper .dual-btn-left {
            margin-right: 0;
        }
    }

    @media (max-width: 767px) {
        &--mobile-layout-vertical .dual-btn-wrapper {
            display: inline-block;
        }

        &--mobile-layout-horizontal .dual-btn-wrapper {
            display: flex;
        }

        &--mobile-align-left.dual-button--mobile-layout-horizontal .dual-btn-wrapper {
            justify-content: flex-start;
        }

        &--mobile-align-center.dual-button--mobile-layout-horizontal .dual-btn-wrapper {
            justify-content: center;
        }

        &--mobile-align-right.dual-button--mobile-layout-horizontal .dual-btn-wrapper {
            justify-content: flex-end;
        }

        &--mobile-align-left.dual-button--mobile-layout-vertical {
            text-align: left;
        }

        &--mobile-align-center.dual-button--mobile-layout-vertical {
            text-align: center;
        }

        &--mobile-align-right.dual-button--mobile-layout-vertical {
            text-align: right;
        }

        &--layout-horizontal.dual-button--mobile-layout-vertical .dual-btn-wrapper .dual-btn-left {
            margin-right: 0;
        }
    }
}

.dual-btn-wrapper {
    .dual-btn-left {
        margin-right: 10px;
    }

    .dual-btn a {
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        display: inline-block;
    }
}

.left-btn-icon-before svg,
.right-btn-icon-before svg,
.left-btn-icon-after svg,
.right-btn-icon-after svg {
    width: 40px;
    height: auto;
}