@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.carvia-core-mini-cart {
    .cart-icon {
        position: relative;

        .cart-total-number {
            position: absolute;
            bottom: 17px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            font-size: 15px;
            text-align: center;
            line-height: 24px;
            color: #fff;
            left: 16px;
        }

        i {
            font-size: 30px;
        }
    }
}