@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Card */
.pricing-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 768px) {
        padding: 30px 25px;
    }
    .pricing-inner {
        .pricing-header {
            .pricing-title {
                color: $color-primary;
                margin: 0 0 20px;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.3;
            }
            .price-wrap {
                display: flex;
                align-items: baseline;
                gap: 6px;
                .price-content {
                    font-size: 48px;
                    font-weight: 800;
                    line-height: 1;
                }
                .price-content-period {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .pricing-features {
            padding: 12px 0;
            .right-content-desc {
                font-size: 15px;
                line-height: 1.7;
                margin: 0 0 28px;
            }
            .pricing-features-list {
                list-style: none;
                margin: 0;
                padding: 0;
                .pricing-feature-item {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 10px;
                    .carvia-feature-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        line-height: 1;
                        i,
                        svg {
                            color: $color-primary;
                            fill: $color-primary;
                            font-size: 14px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                    .pricing-feature-text {
                        font-size: 15px;
                        line-height: 1.5;
                    }
                }
                                                            
            }
                                                                
        }
    }
}